{% extends "base/base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block jquery %}
    <script src="{% static 'js/parts/part.js' %}"></script>
{% endblock %}

{% block filterbar %}
    <form method="get" class="m-2">
        <div class="form-row">
            <div class="form-group col-sm-auto mb-0">
                {{ myFilter.form.category|as_crispy_field }}
            </div>

            <div class="form-group col-sm-auto mb-0">
                {{ myFilter.form.year|as_crispy_field }}
            </div>

            <div class="form-group col-sm-auto mb-0">
                {{ myFilter.form.model|as_crispy_field }}
            </div>

            <div class="form-group col-sm-3 mb-0">
                {{ myFilter.form.manufacturer|as_crispy_field }}
            </div>

            <div class="form-group col-sm-3 mb-0">
                {{ myFilter.form.available|as_crispy_field }}
            </div>

            <div class="form-group col-sm-2 m-auto mb-0">
                <button class=" btn-sm btn-primary w-100" type="submit">Search</button>
            </div>
        </div>
    </form>

{% endblock %}

{% block content %}



    {% include "part/delete.html"%}

    <div class="m-2">
        <button type="button" class="btn btn-primary js-create-part" data-url="{% url 'part-create' %}">
            <i class="fa  fa-plus"></i> Add A Part
        </button>

        <button type="button" class="btn btn-primary js-generate-invoice" data-url="{% url 'invoice-create' %}">
            <i class="fa fa-plus"></i> Generate An Invoice
        </button>

        <button type="button" class="btn btn-danger js-delete-parts">
            <i class="fa fa-trash"></i> Delete Part(s)
        </button>


        <a class="m-3" href="{% url 'part-export-csv' %}"> Export as CSV</a>
        <a class="m-3" href="{% url 'part-export-json' %}"> Export as JSON</a>

        <a class="m-3" href="{% url 'part-import' %}"> Import Data</a>
    </div>

    <div class=" m-2 mb-lg-n1 ">
        {% render_table table %}
    </div>

{% endblock content %}